<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISPLAY SALES ITEMS</title>
</head>
<body>
<h2>These are our sales items</h2>
<ol>
    {{range .}}
    <li> Name : {{.Name}}, Price : {{.UnitPrice}} , Category: {{.Category}} </li>
    {{end}}
</ol>

<h2><a href="/menu">Return to menu</a></h2>
<h2><a href="/logout">Log Out</a></h2>

</body>
</html>
