<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all orders (ADMIN ONLY)</title>
</head>
<body>
<h1>This is the admin overview.</h1>

<h2> The upcoming week's anticipated revenue is ${{.}}. </h2>
<h2><a href="/menu">Return to menu</a></h2>
<h2><a href="/logout">Log Out</a></h2>

</body>
</html>