<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View All Orders</title>
</head>
<body>
    <p> Order Number : {{.OrderNum}} Name: {{.Name}} , Address: {{.Address}} , Delivery Day: {{.DeliveryDay}}, Shopping Cart: {{.ShoppingCart}}, Amount: {{.Amount}} </p>


</body>
</html>