<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View or Edit your bookings</title>
</head>
<body>
<h1>Edit your bookings</h1>

<h2>Enter the following to edit your order. Leave blank if unchanged.</h2>

<form method="post">
    <label for ="orderNum">Order Number:</label>
    <input type="text" name="orderNum" placeholder="Order Number"><br>
    <label for ="name">Name:</label>
    <input type="text" name="name" placeholder="Name"><br>
    <label for ="address">Address:</label>
    <input type="text" name="address" placeholder="Address"><br>
    <label for ="dday">Delivery Day (Enter int, eg. 1 for Monday, 2 for Tuesday) :</label>
    <input type="number" name="dday" min = "1" max = "7"><br>
    <h3>Enter the following to modify your shopping cart. Leave the shopping cart empty to re-use your old cart</h3> 
    {{range .}}
                {{$name:=.Item}}
                {{$max:=.Quantity}}
                <label for ="{{$name}}">Item: {{$name}}, Order Quantity:</label>
                <input type="number" name="{{$name}}" value = "0" min = "0" max = "{{$max}}"><br>
    {{end}}  
    
    <input type="submit">
    <input type="reset">
</form>

<h2><a href="/menu">Return to menu</a></h2>
<h2><a href="/logout">Log Out</a></h2>
</body>
</html>